.feature {
  margin-bottom: 6.5rem;

  &__container {
    position: relative;
  }
  &__image {
    margin-bottom: 3.5rem;

    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__text {
    text-align: center;
    @include breakpoint-up(medium) {
      text-align: left;
      @include breakpoint-up(large) {
        background: $white;
        position: absolute;
        top: 50%;
        left: 49%;
        padding: 50px 0 50px 50px;
      }
    }
    h2 {
      font-size: 2rem;
      width: 75%;
    }

    p {
      color: $dark--gray;
      line-height: 1.5;
      @include breakpoint-up(large) {
        font-size: 0.5rem;
        width: 60%;
        line-height: 1.8;
      }
    }
  }
}
