.footer {
  background-color: $black;
  padding: 3.5rem 0;
  text-align: center;

  &__container {
    @include breakpoint-up(large) {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }
  }

  &__logo {
    margin-bottom: 2.5rem;
    @include breakpoint-up(large) {
      margin-bottom: 1.5rem;
    }
    img {
      margin: auto;
      @include breakpoint-up(large) {
        margin: 0;
      }
    }
  }

  &__nav {
    .nav_links {
      display: flex;
      flex-direction: column;
      margin-bottom: 3.125rem;
      @include breakpoint-up(medium) {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto 2.5rem;
      }

      a {
        text-decoration: none;
        color: $white;
        position: relative;

        &::after {
          content: "";
          width: 1.75rem;
          height: 2px;
          background-color: white;
          position: absolute;
          top: 1.75rem;
          left: 25%;
          opacity: 0;
          transition: opacity 250ms ease-in;
        }
        &:hover::after {
          opacity: 1;
        }
        &:not(:last-child) {
          margin-bottom: 1.875rem;
          @include breakpoint-up(medium) {
            margin: 0 1.5rem 0 0;
          }
          @include breakpoint-up(large) {
            margin: 0 2rem 0 0;
          }
        }
      }
    }
  }
  &__socialAndCopyright {
    .social__icons {
      width: 70%;
      margin-left: auto;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;

      @include breakpoint-up(large) {
        text-align: right;
      }
      .icon {
        position: relative;
        &::after {
          content: "";
          width: 1.25rem;
          height: 2px;
          background-color: $white;
          position: absolute;
          top: 2.15rem;
          left: 10%;
          opacity: 0;
          transition: opacity 250ms ease-in;
        }
        &:hover::after {
          opacity: 1;
        }
        a {
          // &:not(:last-child) {
          //   margin-right: 1rem;
          // }

          img {
            // display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }

    .copyright {
      p {
        color: $very--dark--gray;
        @include breakpoint-up(large) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
