.products {
  margin-bottom: 3rem;
  &__container {
    @include breakpoint-up(medium) {
      display: grid;

      justify-content: space-between;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1.875rem, repeat(4, 1fr), 1.875rem;
      grid-template-areas:
        "title ."
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "btn .";
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 2rem, repeat(2, 1fr);
      grid-template-areas:
        "title title . btn"
        "img1 img2 img3 img4"
        "img5 img6 img7 img8";
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 3.5rem;
    @include breakpoint-up(medium) {
      grid-area: title;
      text-align: left;
      margin-bottom: 2.5rem;
    }
    @include breakpoint-up(large) {
      margin-bottom: 2rem;
      align-self: end;
      justify-self: start;
    }
  }
  &__items {
    color: $white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;

    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 7.5rem;
    width: auto;

    margin-bottom: 1.5rem;
    @include breakpoint-up(medium) {
      height: 16rem;
      width: 100%;
      margin-bottom: 0;
    }

    p {
      position: absolute;
      top: 30px;
      left: 20px;
      width: 41%;

      font-size: 1.5rem;

      @include breakpoint-up(medium) {
        top: 50%;
        bottom: 50%;
        width: 45%;
      }
    }
  }
  &__img1 {
    background-image: url(/images/mobile/image-deep-earth.jpg);
    @include breakpoint-up(medium) {
      background-image: url(/images/desktop/image-deep-earth.jpg);
      grid-area: img1;
    }
  }
  &__img2 {
    background-image: url(/images/mobile/image-night-arcade.jpg);
    @include breakpoint-up(medium) {
      grid-area: img2;
      background-image: url(/images/desktop/image-night-arcade.jpg);
    }
  }
  &__img3 {
    background-image: url(/images/mobile/image-soccer-team.jpg);
    @include breakpoint-up(medium) {
      grid-area: img3;
      background-image: url(/images/desktop/image-soccer-team.jpg);
      background-position: top right;
    }
  }
  &__img4 {
    background-image: url(/images/mobile/image-grid.jpg);
    @include breakpoint-up(medium) {
      grid-area: img4;
      background-image: url(/images/desktop/image-grid.jpg);
    }
  }
  &__img5 {
    background-image: url(/images/mobile/image-from-above.jpg);
    @include breakpoint-up(medium) {
      grid-area: img5;
      background-image: url(/images/desktop/image-from-above.jpg);
    }
  }
  &__img6 {
    background-image: url(/images/mobile/image-pocket-borealis.jpg);
    @include breakpoint-up(medium) {
      grid-area: img6;
      background-image: url(/images/desktop/image-pocket-borealis.jpg);
    }
  }
  &__img7 {
    background-image: url(/images/mobile/image-curiosity.jpg);
    @include breakpoint-up(medium) {
      grid-area: img7;
      background-image: url(/images/desktop/image-curiosity.jpg);
      background-position: top right;
    }
  }
  &__img8 {
    background-image: url(/images/mobile/image-fisheye.jpg);
    @include breakpoint-up(medium) {
      grid-area: img8;
      background-image: url(/images/desktop/image-fisheye.jpg);
      background-position: top right;
    }
  }
  &__btn {
    max-width: 160px;
    margin: 2.5rem auto 6rem;
    z-index: 10;
    @include breakpoint-up(medium) {
      grid-area: btn;
      margin: 2rem 0 6rem 0;
    }
    @include breakpoint-up(large) {
      margin: 0.5rem 0 0 0;
      justify-self: end;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 0.6875rem;
      color: $black;
      border: 1px solid $black;

      padding: 0.9375rem 2.5rem;

      @include breakpoint-up(large) {
        letter-spacing: 4.5px;
        font-size: 0.5625rem;
        border: 0.75px solid $black;
        padding: 0.703125rem 1.875rem;
      }
    }
  }
}
